<!-- TODO: Display Nest values from API -->
<form class="temp-form" action="/temp" method="post">
  <p><label for="target">Set temperature (F)</label></p>
  <input type="number" id="target" name="target" value="70">
  <input type="submit" value="submit" class="btn">
</form>
