/* Typography */

body,
p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2,
h3, h4 {
  font-family: Georgia, serif;
}

form {
  margin-bottom: 50px;
}

.temp-form {
  margin-top: 140px;
}

.btn {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #287ace;
  border: 1px solid #469df5;
  -webkit-box-shadow: inset 0px 1px 0px 0px #cae3fc;
     -moz-box-shadow: inset 0px 1px 0px 0px #cae3fc;
          box-shadow: inset 0px 1px 0px 0px #cae3fc;
  background-color:#79bbff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
  background: -moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn:hover {
  background-color: #4197ee;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
  background: -moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
}

.btn:active {
  position: relative;
  top: 1px;
}
